@import "src/assets/colors";

.container {
  width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: $white;
  justify-content: space-between;
  gap: 72px
}

.footer {
  padding: 36px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $gray;
  margin-top: 72px;
  div {
    color: $secondary;
  }
}