@import "src/assets/colors";
@import "src/assets/mixins";

.container {
  display: flex;
  flex-direction: column;
  width: 352px;
  height: 454px;
  box-sizing: border-box;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  padding: 20px 20px;
  gap: 16px;
  width: 542px;
  height: 99px;
  border-bottom: 1px solid $gray;
}

.cartContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 48px;
  border-bottom: 1px solid $gray;
  width: 1120px;
  height: 240px;
}

.cartBookContainer {
  display: flex;
  gap: 32px;
}

.imageContainer {
  height: 264px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $orange;
}

.searchImageContainer {
  height: 60px;
  width: 80px;
}

.cartImageContainer {
  height: 192px;
  width: 256px;
}

.image {
  width: 226px;
  height: 264px;
}

.searchImage {
  width: 51px;
  height: 60px;
}

.cartImage {
  width: 164px;
  height: 192px;
}

.title {
  @include tertiaryHeadline();
  text-transform: uppercase;
  margin-top: 21px;
  margin-bottom: 8px;
}

.searchInfoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartInfoContainer {
  display: flex;
  flex-direction: column;
}

.searchTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 0;
}

.cartTitle {
  margin-top: 24px;
  margin-bottom: 8px;
}

.subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $secondary;
  margin-bottom: 40px;
}

.cartSubtitle {
  margin-bottom: 0;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  @include tertiaryHeadline();
}

.cartPrice {
  margin-right: 113px;
}
