@import "src/assets/colors";

.mainBlockContainer {
  border: 1px solid $gray;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 40px 32px;
}

.infoContainer {
  display: flex;
  justify-content: center;
  margin-top: 0;
}