@import "src/assets/colors";


.inputWithSearchButton {
  position: relative;
  margin-bottom: 48px;
}

.input {
  @media screen and (min-width: 768px) and (max-width: 1149px) {
    width: 688px;
    background-color: $light;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 272px;
    background-color: $light;
  }
}

.searchIcon {
  cursor: pointer;
  position: absolute;
  right: 13px;
  top: 18px;
}

.title {
  @media screen and (min-width: 768px) and (max-width: 1149px) {
    margin-bottom: 48px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-bottom: 36px;
  }
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $secondary;
  margin-top: 16px;
  margin-bottom: 48px;
}

.pagesContainer {
  display: flex;
  padding-top: 48px;
  margin-bottom: 72px;
  border-top: 1px solid $gray;
  padding-left: 0;
}

.pageNumber {
list-style-type: none;
display: flex;
margin-right: 32px;
box-sizing: border-box;
justify-content: center;
align-items: center;
color: $secondary;
outline: none;
user-select: none;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
:last-child {
  margin-right: 0;
}
&:hover {
  cursor: pointer;
  color: $primary;
}
}

.linkPage {

outline: none;
&:focus {
  outline: none;
}
}

.activePageNumber {
box-sizing: border-box;
color: $primary;
}

.break {
  color: $secondary;
  list-style-type: none;
  margin-right: 32px;
  font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
&:hover {
  cursor: pointer;
  color: $primary;
}
}

.arrowButton {
  margin: auto;
  list-style-type: none;
  user-select: none;
  color: $secondary;
  font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
  &:hover {
    color: $primary;
    cursor: pointer;
  }
}

.blockedButton {
  color: $secondary;
  &:hover {
    background-color: transparent;
    color: $secondary;
    cursor: not-allowed;
  }
}