@import "src/assets/colors";

.containerAccount {
  @media screen and (min-width: 768px) and (max-width: 1149px) {
    margin-bottom: 72px;
   }
}

.arrow {
  margin-bottom: 37px;
  &:hover {
    cursor: pointer;
  }
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: $primary;
  margin-top: 48px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: 36px;
  }
}

.inputContainer {
  display: flex;
  gap: 32px;
  margin-top: 16px;
  @media screen and (min-width: 768px) and (max-width: 1149px) {
    flex-direction: column;
   }
   @media screen and (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
   }
}

.input {
  width: 544px;
  @media screen and (min-width: 768px) and (max-width: 1149px) {
    width: 100%;
   }
   @media screen and (min-width: 320px) and (max-width: 767px) {
     width: 100%;
   }
}

.borderContainer {
  border-bottom: 1px solid $gray;
  padding-bottom: 72px;
  margin-bottom: 48px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 32px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
  }
}

.button {
  width: 257px;
  height: 56px;
  padding: 14px 0;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 272px;
  }
}

.whiteButton {
  color: $primary;
  border: 1px solid $gray;
  &:hover {
    color: $primary2;
  }
}
