@import "src/assets/colors";

.container {
  margin: 72px 0;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin: 72px 0 0;
  }
}

.sliderContainer {
  display: flex;
  gap: 32px;
}

.swiper {
  display: flex !important;
  flex-direction: column-reverse !important;
}
